/*
 * Space Balloon Ver2 - Board Overlay for nucleo_g431rb
 * 
 * This overlay adds custom sensors and actuators for the
 * high-altitude radiosonde.
 */

/* Enable I2C1 */
&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	
	/* I2C1 sensors */
	imu: lsm6dsv16x@6b {
		compatible = "st,lsm6dsv16x";
		reg = <0x6b>;
	};
	
	mag: mlx90393@0c {
		compatible = "melexis,mlx90393";
		reg = <0x0c>;
	};
	
	rad: gdk101@18 {
		compatible = "fuka,gdk101";
		reg = <0x18>;
	};
};
