/*
 * Space Balloon Ver2 - Device Tree Overlay for weact STM32G431CBU6
 * 
 * 센서 구성:
 *   I2C1: LSM6DSV16X (IMU)
 *   I2C2: MS5607 (기압), SHT3x (온습도), MCP9600 (열전대)
 *   UART1: GPS (XA1110)
 *   UART2: 미세먼지 (PMS3003)
 */

/* I2C1 센서 (Downside Board) */
&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	
	lsm6dsv16x: lsm6dsv16x@6b {
		compatible = "st,lsm6dsv16x";
		reg = <0x6b>;
	};
};

/* I2C2 센서 (Upside Board) */
&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	
	ms5607: ms5607@77 {
		compatible = "meas,ms5607";
		reg = <0x77>;
	};
	
	sht3x: shtcx@44 {
		compatible = "sensirion,shtcx";
		reg = <0x44>;
	};
	
	mcp9600: mcp9600@60 {
		compatible = "microchip,mcp9600";
		reg = <0x60>;
	};
};

/* UART1 - GPS */
&usart1 {
	status = "okay";
	current-speed = <115200>;
};

/* UART2 - 미세먼지 */
&usart2 {
	status = "okay";
	current-speed = <9600>;
};
