/*
 * Copyright (c) 2026 Hyeonsu Park
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g4/stm32g431Xb.dtsi>
#include <st/g4/stm32g431c(6-8-b)tx-pinctrl.dtsi>

/ {
	model = "Space Balloon Ver2 Radiosonde";
	compatible = "space-balloon-ver2";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_0 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		kapton_heater: kapton_heater {
			pwms = <&pwm3 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "Kapton Heater";
		};
		minibulb: minibulb {
			pwms = <&pwm3 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "Minibulb Indicator";
		};
	};

	aliases {
		led0 = &green_led;
		pwm-led0 = &kapton_heater;
		pwm-led1 = &minibulb;
		i2c1 = &i2c1;
		i2c3 = &i2c3;
		uart1 = &usart1;
		uart2 = &usart2;
		uart3 = &usart3;
		adc1 = &adc1;
	};

	/* External sensors */
	sensors {
		compatible = "simple-bus";
		
		/* IMU - LSM6DSV16X */
		imu: imu@6b {
			compatible = "st,lsm6dsv16x";
			reg = <0x6b>;
		};
		
		/* Magnetometer - MLX90393 */
		mag: mag@0c {
			compatible = "melexis,mlx90393";
			reg = <0x0c>;
		};
		
		/* Radiation - GDK101 */
		rad: rad@18 {
			compatible = "fuka,gdk101";
			reg = <0x18>;
		};
		
		/* Barometer - MS5611 */
		baro: baro@77 {
			compatible = "te,ms5611";
			reg = <0x77>;
		};
		
		/* Humidity - SHT31 */
		humidity: humidity@44 {
			compatible = "sensirion,sht3xd";
			reg = <0x44>;
		};
		
		/* CO2 - CM1107N */
		co2: co2@31 {
			compatible = "cubic,cm1107n";
			reg = <0x31>;
		};
		
		/* Thermocouple - MCP9600 */
		thermo: thermo@60 {
			compatible = "microchip,mcp9600";
			reg = <0x60>;
		};
		
		/* Ozone - SEN0321 */
		ozone: ozone@70 {
			compatible = "dfrobot,sen0321";
			reg = <0x70>;
		};
	};
};

/* I2C1 - Downside Board (IMU, Mag, Radiation) */
&i2c1 {
	pinctrl-0 = <&i2c1_scl_pa15 &i2c1_sda_pa16>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

/* I2C3 - Upside Board (Baro, Humidity, CO2, Thermocouple, Ozone) */
&i2c3 {
	pinctrl-0 = <&i2c3_scl_pa7 &i2c3_sda_pb6>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

/* UART1 - GPS (XA1110) */
&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* UART2 - Dust Sensor (PMS3003) */
&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";
};

/* UART3 - Telemetry Output */
&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* ADC1 - Battery Voltage */
&adc1 {
	pinctrl-0 = <&adc1_in2_pa1>;
	pinctrl-names = "default";
	status = "okay";
};

/* PWM3 - Heaters */
&tsc3 {
	status = "okay";
	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tsc3_out1_pa6 &tsc3_out0_pc6>;
		pinctrl-names = "default";
	};
};

/* GPIO resets for sensors */
&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};
